<h1>Login Here</h1>

<%= form_for :session, url: sessions_path do |f| %>

	<% if @errors %>
		<ul>
			<% @errors.each do |error| %>
				<li>
					<%= error %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<p>
		<%= f.label :Email %> <br>
		<%= f.text_field :email %>
	</p>

	<p>
		<%= f.label :Password %> <br>
		<%= f.password_field :password %>
	</p>

	<p>
		<%= f.submit 'Login' %>
	</p>

<% end %> 