<h1>Login Here</h1>

<%= form_for :session, url: sessions_path do |f| %>

	<% if @errors %>
		<ul>
			<% @errors.each do |error| %>
				<li>
					<%= error %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<p>
		<%= f.text_field :email, placeholder: 'Email:' %>
	</p>

	<p>
		<%= f.password_field :password, placeholder: 'Password:' %>
	</p>

	<p>
		<%= f.submit value: 'Login' %>
	</p>

<% end %> 