<nav id="navbar">
  <div id="nav_container">
    <a href="/" id="A_14"><img src="<%= asset_path('devbootcamp_logo.svg') %>" id="IMG_15" /></a>
    <ul id="UL_16">
      <% if current_user %>

      <li><%= link_to 'Logout', session_path(session[:id]), method: :delete %></li>
      <li><%= link_to 'Profile Page', boot_path(current_user.id) %></li>

      <% else %>

      <li><%= link_to 'Login', new_session_path %></li>
      <li><%= link_to 'Sign Up', new_boot_path %></li>
      <% end %>
    </ul>
  </div>
</nav>