<div class="feedbacks">
  <h3>Feedback about this boot: </h3>  
  <ul>
    <% @boot.feedbacks.each do |feedback| %>
        <p>Rating: </p>
        <%= feedback.rating %>
        <p>Comment: </p>
        <%= feedback.comment %>
        <p>Was the feedback Actionable, Specific, and Kind?</p>		
        <%= form_for :feedback, url: boot_feedback_path(@boot.id, feedback.id), method: :patch do |f| %>  
          <%= f.label :ask, "Yes"%>		
          <%= f.radio_button :ask, true %>		
          <%= f.label :ask, "No"%>	
          <%= f.radio_button :ask, false %>		
          <%= f.submit %>	
        <% end %><br>
    <% end %>
  </ul>
</div>

