<h1>Hello, <%= @boot.first_name %></h1>

<h3>Upcoming appointments:</h3>

<% if @boot.role == 'student' %>



<% @boot.student_appointments.each do |a| %>
<hr>

<div class='appointment_details'>
  <p>Time: <%= a.time %></p>
  <p>Date: <%= a.date %></p>
  <p>Location: <%= a.location %></p>
  <p>Topic: <%= a.topic.name %></p>
  <p>With: <%= a.mentor.first_name %></p>
</div>

<% end %>




<% else %>


<% @boot.mentor_appointments.each do |a| %>
<hr>

<div class='appointment_details'>
  <p>Time: <%= a.time %></p>
  <p>Date: <%= a.date %></p>
  <p>Location: <%= a.location %></p>
  <p>Topic: <%= a.topic.name %></p>
  <% if a.student %>
    <p>With: <%= a.student.first_name %></p>
  <% else %>
    <p>Slots still open</p>
  <% end %>
</div>

<% end %>



<% end %>

<p><%= link_to "Leave Feedback for this boot", new_boot_feedback_path(@boot) %></p>
<% if current_user.id == @boot.id || @boot.role == "mentor" %>
  <%= render "partials/student_feedback_list" %>
<% end %>


