<div id="apt-edit">
<h1>Edit an Appointment</h1>
 
<%= form_for :appointment, url: appointment_path(@appointment), method: :patch do |f| %>
 
  <!-- no valiations yet -->

  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@appointment.errors.count, "error") %> prohibited
        this appointment from being saved:
      </h2>
      <ul>
        <% @appointment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
   <p>
    <%= f.label :time %><br>
    <%= f.time_field :time %>
  </p>

  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <!-- <p>
    <%= f.label :mentor %><br>
    <%= f.text_field :mentor %>
  </p> -->
 
  <p class="btn">
    <%= f.submit %>
  </p>
 
<% end %>
<div class="show-list">
<%= link_to 'Back', appointments_path %>
</div>
</div>
