<h1>Appointments Index</h1>

<%= week_calendar events: @appointments do |date, appointments| %>
  <%= date %>

  <% @appointments.each do |appointment| %>
    <div>
<% if appointment.date == date %>
      <%= appointment.topic.name %>
      <%= appointment.time.strftime("%H:%M") %>
<% end %>
    </div>
  <% end %>

<% end %>


<hr>
<% @appointments.each do |appointment| %>
    <ul>
      <li><%= appointment.topic.name %></li><br>
      <%= appointment.time.strftime("%H:%M") %><br>
      <%= appointment.date %><br>
      <%= appointment.location %><br>
      <%= appointment.mentor.first_name %><br>
      <%= link_to 'Show', appointment_path(appointment) %><br>
    </ul>
  <% end %>
