<h1>Available Appointments</h1>

<div class='calendar'>
<%= week_calendar events: @appointments do |date, appointments| %>

<div class='date_div'>
  <p><%= date %></p>
</div>

  <% @appointments.each do |appointment| %>
<% if appointment.date == date && appointment.student_id == nil %>
  <div class='appointment'>

  <%= form_for appointment do |f| %>

      <%= appointment.topic.name %> at <br>
      <%= readable_time(appointment.time) %>,
      with <%= appointment.mentor.first_name %>

      <% if current_user && current_user.role == 'student' %>

    <%= f.submit 'Book Appointment', data: { confirm: 'Are you sure you want to book this appointment?' }  %>

    <% end %>

<% end %>


    </div>
<% end %>
  <% end %>

<% end %>

</div>
