<h1>Appointments Index</h1>

<% @appointments.each do |appointment| %>
    <ul>
      <li><%= appointment.topic.name %></li><br>
      <%= appointment.time.strftime("%H:%M") %><br>
      <%= appointment.date %><br>
      <%= appointment.location %><br>
      <%= appointment.mentor.first_name %><br>
      <%= link_to 'Show', appointment_path(appointment) %><br>
    </ul>
  <% end %>
