<div class="apt">

<h1>Make a New Appointment</h1>
<%= form_for @appointment do |f| %>
  <p class="apt-new">
    <%= f.label :time %><br>
    <%= f.time_field :time %>
  </p>

  <p class="apt-new">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>

  <p class="apt-new">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p class="btn">
    <p>Topic:</p>
    <%= f.radio_button :topic, 'JavaScript' %>
    <%= f.label :topic, 'JavaScript' %>
    <br>
    <%= f.radio_button :topic, 'Rails' %>
    <%= f.label :topic, 'Rails' %>
    <br>
    <%= f.radio_button :topic, 'ActiveRecord' %>
    <%= f.label :topic, 'ActiveRecord' %>
    <br>
    <%= f.radio_button :topic, 'Ruby' %>
    <%= f.label :topic, 'Ruby' %>
    <br>
    <%= f.radio_button :topic, 'Sinatra' %>
    <%= f.label :topic, 'Sinatra' %>

    <%= f.submit %>
  </p>
<% end %>
</div>
