<!-- <h1>Make a New Appointment</h1>
<%= form_for :appointment do |f| %>
  <p>
    <%= f.label :time %><br>
    <%= f.time :time %>
  </p>
 
  <p>
    <%= f.label :date %><br>
    <%= f.date :date %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :mentor %><br>
    <%= f.text_area :mentor %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %> -->

<!-- not sure how we're going to have student set up appointment if we're going to be using a calendar  -->
