<h1>Your Appointment</h1>
<p>
  <strong>Time:</strong>
  <%= readable_time(@appointment.time) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @appointment.location %>
</p>

<p>
  <strong>Mentor:</strong>
  <%= @appointment.mentor.first_name %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @appointment.topic.name %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %>
<%= link_to 'Cancel', appointment_path(@appointment), :method => :delete %>
<%= link_to 'Home', appointments_path %>
