<h1>Your Appointment</h1>
<p>
  <strong>Time:</strong>
  <%= @appointment.time.strftime("%H:%M") %>
</p>
 
<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @appointment.location %>
</p>
 
<p>
  <strong>Mentor:</strong>
  <%= @appointment.mentor.first_name %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @appointment.topic.name %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %>
<%= link_to 'Back', appointment_path %>