<!DOCTYPE html>
<html>
  <head>
    <title>Bootscheduler</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<header>
  		<%= render partial: 'partials/header' %>
  	</header>	
    <div class="error_message">
      <%= render 'partials/error_messages', active_object: @boot %>
    </div>
    <%= yield %>
  </body>
</html>
